.root {
    -fx-padding: 20;
    -fx-spacing: 10;
    -fx-alignment: center;
    -fx-font-size: 20;
}

Button {
    -fx-pref-height: 50;
    -fx-pref-width: 200;
}

FlowPane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}